{
  "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jasmine": true
    },
    "settings": {
      "ecmascript": 6,
      "jsx": true
    },
    "plugins": [
      "react"
    ],
    "globals": {
      "jest": true
    },
    "rules": {
      "quotes": 0,
      "camelcase": 0
    }
}
