[alias]
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
  open-modified = "!f() { git diff --name-only; }; vim `f`"
[core]
  excludesfile = $HOME/.gitignore_global
  pager = delta
[color]
  ui = true
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  ; external = $HOME/scripts/git_vimdiff.sh
  tool = meld
[diff "sopsdiffer"]
	textconv = sops -d
[difftool]
  prompt = false
[pager]
  diff =
[push]
  default = current
[user]
  email = dawid.janczak@gmail.com
  name = Dawid Janczak
[pull]
	ff = only
