[user]
  email = dawid.janczak@gmail.com
  name = DawidJanczak
[diff]
  external = /home/janczak/scripts/git_vimdiff.sh
[pager]
  diff =
[core]
  excludesfile = /home/janczak/.gitignore_global
[push]
  default = simple
[color]
  ui = true
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
