[alias]
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; nvim `f`"
  open-modified = "!f() { git diff --name-only; }; nvim `f`"
[core]
  excludesfile = $HOME/.gitignore_global
  pager = delta
[color]
  ui = true
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[include]
  path = /home/gat/themes.gitconfig
[delta]
  syntax-theme = zenburn
  features = woolly-mammoth
[diff]
  colorMoved = default
[diff "sopsdiffer"]
  textconv = sops -d
[difftool]
  prompt = false
[push]
  default = current
[user]
  email = dawid.janczak@gmail.com
  name = DawidJanczak
[pull]
	rebase = false
